body{
    background: linear-gradient(to right, #fffcdc, #d9a7c7);
}

.mainDiv{
    position: absolute;
    top: 25%;
    margin-bottom: 30px;
}

/*added distance between sections*/
.cat_main{
    margin-right: 30px;
}

/* positioned add-section div at the top center*/
addSection{
    position: absolute;
    width: 200px;
    height: 10px;
	top:0;
	bottom: 94%;
	left: 0;
	right: 0;
    margin: auto;
}

/*button design*/
#addSection_btn{
    margin-top : 10px;
    margin-left: 27%;
    border : none;
    border-radius: 50px;
    height: 70px;
    width : 70px;
    background-color: #d9a7c7;
    font-size: 50px;
    color :white;
}

.list{
    display: flex;
}

.list>div{
    height: 500px;
    width: 300px;
    border: 1px solid black;
    text-align: center;
}

.hide{
    display:none;
}

.dragArea{
    min-height: 100px;
    margin:16px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dragEnter{
    background-color: #957DA3;
    z-index: 1;
}
.draggableItem{
    cursor: -webkit-grab; cursor: grab;
    text-align: center;
    width: fit-content;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close:hover,
#close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}